---
layout: default
title: Home
---
<div id="homepage-content">
  <div class="jumbotron fs-container">
    <div class="fs-table">
      <div class="fs-table-cell">
        <div class="container homepage-box">
          <h1>AIClash</h1>
          <p>AIClash is clashing live AIs safely & harmoniously. </p>
          <p><a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/sandbox/" role="button">Start now</a></p>
        </div>
      </div>
    </div>
  </div>
  {% include next-btn.html %}
  <div class="fs-container">
    <div class="fs-table">
      <div class="fs-table-cell">
        <div class="container blog">
          <h1>Blog</h1>
          {% for rpost in paginator.posts %}
          <div class="">
            <h2 class=""><a href="{{ site.baseurl }}{{ rpost.url }}" title="{{ rpost.title }}">{{ rpost.title }}</a>
            </h2>
            <p class=""><time pubdate="{{ rpost.date }}">{{ rpost.date | date_to_string }}</time></p>
            <!--
                <p class="">{{ rpost.content | truncatewords:3 }}</p>
                -->
          </div>
          {% endfor %}
          {% if paginator.total_pages > 1 %}
          <nav class="">
            <ul class="pagination pagination-lg">
              <li class="{% if paginator.page == 1 %} disabled{% endif %}"><a
                  href="{% if paginator.page == 1 %}javascript:void(0);{% else %}{{ site.baseurl }}/{%if paginator.page > 2 %}page{{ paginator.page |minus: 1 }}/{% endif %}{% endif %}"><span
                    aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
              {% for page in (1..paginator.total_pages) %}
              {% if page == paginator.page %}
              <li class=""><a href="javascript:void(0);">{{ page }}</a></li>
              {% else %}
              <li><a href="{{ site.baseurl }}/{%if page != 1 %}page{{ page }}/{% endif %}">{{ page }}</a></li>
              {% endif %}
              {% endfor %}
              <li class="{% if paginator.page == paginator.total_pages %} disabled{% endif %}"><a
                  href="{% if paginator.page == paginator.total_pages %}javascript:void(0);{% else %}{{ site.baseurl }}/page{{ paginator.page |plus: 1 }}/{% endif %}"><span
                    aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
            </ul>
          </nav>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% include next-btn.html %}
  <div class="fs-container">
    <div class="fs-table">
      <div class="fs-table-cell">
        <div class="container features">
          <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-7">
              <h2>Simple rules <small>just like a kids' maze. </small></h2>
              <p>AIClash offers a straightforward set of rules that are easy to follow, making it accessible for users
                of all levels. Our platform simplifies complex AI concepts into manageable tasks, allowing you to focus
                on learning and developing your skills without getting overwhelmed.</p>
              <p><a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/intro/" role="button">More rules</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include next-btn.html %}
  <div class="fs-container">
    <div class="fs-table">
      <div class="fs-table-cell">
        <div class="container features">
          <div class="row">
            <div class="col-md-7">
              <h2>Easy to learn <small>clean and tidy documents. </small></h2>
              <p>Structured, clear and concise documentation makes it easy for you to find the information you need.
                Whether you're a beginner or an experienced developer, our guides and references will help you
                understand and implement AIClash features effectively.</p>
              <p><a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/api/" role="button">View API references</a>
              </p>
            </div>
            <div class="col-md-5">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include next-btn.html %}
  <div class="fs-container">
    <div class="fs-table">
      <div class="fs-table-cell">
        <div class="container features">
          <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-7">
              <h2>Convinient to develop <small>code and view at the same time. </small></h2>
              <p>Our platform is designed to be developer-friendly, allowing you to code and view results
                simultaneously. This feature streamlines the development process, making it easier to test and refine
                your AI models in real-time.</p>
              <p><a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/sandbox/" role="button">Have a try</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include next-btn.html %}
  <div class="fs-container">
    <div class="fs-table">
      <div class="fs-table-cell">
        <div class="container features">
          <div class="row">
            <div class="col-md-7">
              <h2>Designed for education <small>to learn basic artificial intellegence. </small></h2>
              <p>AIClash is designed to provide an engaging and interactive way to learn the basics of artificial
                intelligence. Our platform offers a variety of educational resources, including tutorials, examples, and
                hands-on exercises, to help you understand and apply AI concepts effectively.</p>
            </div>
            <div class="col-md-5">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include footer.html %}