  <div id="menu-wrap" style="display: none;">
    <div id="menu">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="{{ site.baseurl }}/"><big>AIClash</big></a>
        </li>
        <li>
          <a href="{{ site.baseurl }}"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/about/"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;About</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/sandbox/"><span class="glyphicon glyphicon-tower"></span>&nbsp;Sandbox</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/api/"><span class="glyphicon glyphicon-file"></span>&nbsp;APIs</a>
        </li>
      </ul>
    </div>
  </div>
  <a href="#" class="btn btn-primary" id="menu-btn"><span class="glyphicon glyphicon-th"></span>&nbsp;Menu</a>
