#main-wrap, #menu-wrap, #code-editor-wrap, #canvas-wrap, .code-editor {
    position: absolute!important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#menu-wrap {
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

#menu {
    position: fixed;
    left: 20px;
    bottom: 75px;
    width: 170px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 20px 20px 200px #333;
    border: 5px solid #5a8f00;
    background: #fff;
    color: #333;
}

#menu li {
    border-radius: 12px;
    border-bottom: 1px solid #ccc;
}

#menu:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 13px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #5a8f00 transparent;
    display: block;
    width: 0;
}

#menu:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 20px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

#menu-btn {
    position: fixed;
    left: 32px;
    bottom: 20px;
    transition: opacity 0.5s;
    opacity: 0.65;
    box-shadow: 0 0 10px #fff;
    z-index: 105;
}

#menu-btn:hover {
    opacity: 1;
}

#code-editor-wrap {
    bottom: 74px;
    transition: transform 0.5s;
    transform: translateY(-100%);
    background: rgba(255, 243, 196, 0.4);
    box-shadow: 0 0 100px #333;
    z-index: 10;
}

.code-editor-visible {
    transform: translateY(0)!important;
}

#ctrl-btn {
    position: absolute;
    bottom: -54px;
    left: 120px;
    transition: opacity 0.5s;
    opacity: 0.65;
    z-index: 10;
}

#ctrl-btn:hover {
    opacity: 1;
}

#canvas-wrap {
}

#canvas-container {
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 800px;
    height: 600px;
    margin-top: -300px;
    margin-left: -400px;
}

#canvas {
    box-shadow: 0 0 100px #333;
    border: 1px solid #333;
}

.ace-monokai {
    background: rgba(39, 40, 34, 0.7)!important;
}

#code-editors {
    height: 100%;
    width: 200%;
    position: relative;
}

#code-editors-container {
    position: absolute;
    top: 28px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#tabs {
    height: 28px;
    background: rgba(33, 33, 33, 0.9);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #333;
    cursor: default;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #777;
    border-bottom-color: transparent;
}

.editor-wrap {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
}

.nav-tabs>li>a {
    padding: 3px 5px;
}